<div class="people">
  <div class="people__header">
    <h1 class="people__title">People</h1>
    <div class="buttons">
      <button [disabled]="disabledSub$ | async" (click)="starTimer()">
        {{(disabledSub$ | async) ? (countdownSub$ | async) : 'Update list'}}
      </button>
    </div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" class="people__viewport">
    <div *ngFor="let people of peopleList$ | async" class="people__item" [ngClass]="{'conversation': people.conversationId}">
      <mat-icon>person</mat-icon>
      <span>{{people.name.S}}</span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>