<div class="groups">
  <div class="groups__header">
    <h1 class="groups__title">Groups</h1>
    <div class="buttons">
      <button>Add group</button>
      <button>Update list</button>
    </div>
  </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="groups__viewport">
      <div *ngFor="let group of groupsList$ | async" class="groups__item">
        <mat-icon>group</mat-icon>
        <span>{{group.name.S}}</span>
        <mat-icon *ngIf="myUid === group.createdBy.S" class="trash">close</mat-icon>
      </div>
    </cdk-virtual-scroll-viewport>
</div>

