<div class="signin">
  <app-logo></app-logo>
  <form [formGroup]="credentails" (ngSubmit)="onSubmit()" class="signin__form">
    <div class="form__input-label">
      <label for="email">User's Email address<span *ngIf="!isShowEmailError">*</span></label>
      <span @fade class="signin__form-error" *ngIf="isShowEmailError">{{" - " + emailErrors}}</span>
    </div>
    <input formControlName="email" type="email" id="email">
    <div class="form__input-label">
      <label for="password">User's password<span *ngIf="!isShowPasswordError">*</span></label>
      <span @fade class="signin__form-error" *ngIf="isShowPasswordError">{{" - " + passwordErrors}}</span>
    </div>
    <input formControlName="password" type="password" id="password">
    <button [disabled]="isButtonDisabled">
      <mat-progress-bar mode='buffer' *ngIf="isLoading$ | async" />
      <span *ngIf="(isLoading$ | async) === false">Sign in</span>
    </button>
  </form>
  <p class="signin__text">Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>
