<h1 mat-dialog-title>Delete group</h1>
<div mat-dialog-content>
  Would you like to delete this group?
</div>
<div mat-dialog-actions align="end">
  <button [disabled]="isLoading$ | async" class="modal-button" mat-dialog-close>
    <mat-progress-bar mode='buffer' *ngIf="isLoading$ | async" />
        <span *ngIf="(isLoading$ | async) === false">No</span>
  </button>
  <button [disabled]="isLoading$ | async" class="modal-button" (click)="close()">
    <mat-progress-bar mode='buffer' *ngIf="isLoading$ | async" />
        <span *ngIf="(isLoading$ | async) === false">Ok</span>
  </button>
</div>