  $primary-color: #0a8f7b;
  $text-color: #ffffff;
  $danger-color: #f44336;
  $text-color-secondary: #ffffff;
  $surface-primary-color: #113b3e;
  $bg-color: #192532;
  $surface-color: #0b131b;
  $surface-color-secondary: #15202b;
  $message-bg-color: #2c3640;
